*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accor{
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.box{
  display: flex;
  flex-direction: column;
  background-color: brown;
  color: white;
  width: 200px;
}